.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 50px; 
    width: 100%;
    padding: 20px;
}


.something {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 90%;
    max-width: 650px;
    padding: 20px;
    flex: 1;
}


.inlineText {
    display: inline;
}

.inlineText > * {
    display: inline;
}

.formContainer {
    width: 80%; 
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.logInButton {
    width: 50%;
    align-self: flex-start;
}


.logoWrapper {
    position: absolute;
    bottom: -20px;
    left: 9%;
    transform: translateX(-50%);
    z-index: -100;
    width: 100%;
    display: flex;
    justify-content: center;
}


@media (max-width: 1000px) {
    .logoWrapper {
        display: none;
    }
}