.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.logoWrapper {
    position: relative;
    height: 100%;
    width: 360px;
}

.logo {
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: -1;
}

.loginContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-grow: 1;
    max-width: 650px;    
}

@media (max-width: 1000px) {
    .logoWrapper {
        display: none;
    }

    .loginContent {
        padding-left: 20px;
    }
}

.inlineText {
    display: inline;
}

.inlineText > * {
    display: inline;
}

.buttonContainer {
    display: flex;
    max-width: 240px;
}

