:root {
    --font-size: 14px;
    --font-size-sm: 10px;
}

.inputWrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

input {
    all: unset;
}

.input {
    width: 100%;
    text-align: start;
    padding: 22px 22px 10px 10px;
    transition: border-color 0.3s ease-in-out;
    font-size: var(--font-size);
    color: rgba(26, 7, 16, 0.85);
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
}

.label {
    position: absolute;
    left: 10px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    font-size: var(--font-size);
    color: rgba(26, 7, 16, 0.65);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.focused, .notEmpty {
    top: 5px;
    font-size: var(--font-size-sm);
    transform: translateY(0);
}

.notEditable {
    background-color: rgb(238, 241, 242);
    pointer-events: none;
    user-select: none;
}

.notEditable:focus {
    outline: none;
}

.icon {
    position: absolute;
    top: calc(50% - 8px);
    right: 12px;
    cursor: pointer;
}

.textIcon {
    font-size: 11px;
    font-weight: 400;
    color: rgb(143, 141, 141);
    right: 32px;
}

.noLabel {
    padding: 16px 10px;
    line-height: normal;
    display: flex;
    align-items: center;
}
