################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DfT.DTRO.UI/.vs/DfT.DTRO.UI/v17
/DfT.DTRO.UI/.vs/DfT.DTRO.UI
/DfT.DTRO.UI/bin/Debug/net6.0
/DfT.DTRO.UI/obj
