:root {
    --button-primary: rgb(0, 106, 176);
    --button-secondary: rgb(0, 26, 112);
}

button {
    all: unset;
}

.button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.primary {
    background-color: var(--button-primary);
    color: rgb(255, 255, 255);
}

.secondary {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 26, 112);
    border: 2px solid var(--button-secondary);
}