.mainHeading {
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  color: #00104D;
}

.subHeading {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #1A0710D9;
}

.description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #1A0710A6;
}