:root {
  --primary-colour: rgb(0, 106, 176);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

:focus-visible {
  outline: 2px solid var(--primary-colour);
  outline-offset: 3px;
  border-radius: 4px;
}

.inputRow {
  display: flex;
  gap: 18px;
}