html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}